<!-- <form method="POST" action="/api/pastes">
  <textarea name="content" required></textarea>
  <input name="ttl_seconds" type="number" placeholder="TTL seconds">
  <input name="max_views" type="number" placeholder="Max views">
  <button>Create Paste</button>
</form> -->
<!DOCTYPE html>
<html>
<head>
  <title>Create Paste</title>
</head>
<body>
  <h2>Create Paste</h2>

  <form method="POST" action="/api/pastes">
    <textarea name="content" required></textarea><br><br>

    <input name="ttl_seconds" type="number" placeholder="TTL seconds"><br><br>

    <input name="max_views" type="number" placeholder="Max views"><br><br>

    <button type="submit">Create Paste</button>
  </form>
</body>
</html>
